extends layout
      
block content
   #gather
      .pane.form
         form(method='get', action="/analyze")
            fieldset 
               label Twitter:
                  input(name="twitter_handle", type="text", placeholder="twitter handle")
               button(type="submit") Get Started
      .pane.analyzing
         .loading
            .circle
            .circle1
            p Analyzing...
   #data 
      .header
         .profile
            .details
               img.avatar(width=125)
               span.name
               span.location
               span.bio
            span.score
      .content
         .graphs
            .last90
         .tweets.positive
            .wrapper   
               h3 Positive Impact
               ul
         .tweets.negative
            .wrapper
               h3 Negative Impact
               ul