!!! 5
html(lang="en")
   head
      title Half Empty
      meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
      link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css')
      link(href='http://fonts.googleapis.com/css?family=Molengo', rel='stylesheet', type='text/css')
      != css('reset')
      != css('main')
      != js('jquery')
      != js('highcharts')
      != js('highcharts-more')
      != js('main')
      != js('twitter-text')
      block scripts
   body   
      .container
         h1 Half Empty?
         block content
         .clear

         footer
            ul
               li 
                  a(href="http://twitter.com/joeandaverde") Joe Andaverde
               li
                  a(href="http://twitter.com/smerchek") Scott Smerchek                  
               li 
                  a(href="/about") How it works
               li 
                  a(href="http://hackthemidwest.com", title="Hack the Midwest", target="_blank") HackMW
               
