@import mixins
@import loading
accent-color = #2187e7

html
   font-size 100%
   padding 20px
   background-color #ccc
a
   color accent-color
body
   padding 20px
   font-family 'Molengo', serif

.container
   max-width 1000px
   margin 0 auto

h1 
   font-size 3em
   margin-bottom .6em
   color #444
   font-family lobster
   background transparent url("/images/logo.svg") no-repeat -24px -35px
   background-size 80px
   padding-left 40px
#gather-wrapper
   -webkit-transition margin 500ms ease-out
   margin-bottom 60px
   height 180px
   
   &.hide
      margin-top -245px
      
      #start-over
         opacity 1
         margin-top 0px
         
   #start-over
      opacity 0
      margin 0 auto
      margin-top 5px
      text-align center
      width 200px
      background-image url('/images/noisy.png')
      border-radius 5px
      height 50px
      color white
      line-height 50px
      -webkit-transition opacity 500ms ease-out 500ms
      font-size 2em
      margin-top -10000px
      a
         color white

#gather
   background-image url('/images/noisy.png')
   position relative
   width 500px
   height 120px
   margin 0 auto
   border-radius 5px
   box-shadow 0px 2px 6px #888
   overflow hidden

   .pane
      height 100px
      padding 10px
      margin-bottom 30px
      -webkit-transition margin 500ms ease-out

      &.form.hide 
         margin-top -150px
      
      &.analyzing
         text-align center
         line-height 100px
         color white
         .loading
            height 25px
            margin-top 25px


   label
      display block
      background-image url('/images/twitter-logo.svg')
      background-size 70px 70px
      background-repeat no-repeat
      background-position 0px 0px
      overflow hidden
      text-indent -999px

   input[type=text]
      margin-top 15px
      border 1px solid white
      font-size 2em
      border-radius 5px
      width 82%
      -webkit-transition border 500ms ease-out
      float right
      &:focus
         border 1px solid accent-color

   button
      float right
      clear both
      margin-top 10px
      font-size 1.5em
      border-radius 2px
      border none
      background none
      color white
      text-decoration underline
      -webkit-transition color 500ms ease-out
      &:hover
         color accent-color
#data
   margin 0 auto
   -webkit-transition opacity 500ms ease-out
   opacity 1

   &.hide
      opacity 0

   .header
      margin 0 auto
      overflow hidden
      padding 5px
      .profile
         position relative

         img.avatar
            border-radius 5px
            float left
            margin-right 15px
            margin-left 125px
            background black url('/images/no-photo.jpg') no-repeat

         .details
            float left
            padding-right 120px
            margin-left -120px
            width 100%

            .name 
               white-space nowrap
               font-size 2.5em
               display block
               
            .location
               white-space nowrap
               font-size 1em
               display block
               margin-left 15px
               margin-top 5px

            .bio
               color #666
               display block
               margin-top 5px
         
         .score
            padding 10px
            border-radius 5px
            position absolute
            right 0px
            color white
            text-align center
            font-weight bold
            font-size 3.5em
            font-family arial
            text-shadow 0px 2px 6px #888
            background-image url('/images/noisy.png')
   .content
      margin-top 5px
      .influencers
         margin 5px
         background-color white
         border-radius 5px
         line-height 1.2em
         font-size 1.2em
         h3
            float left
            padding 5px

         .influencers-list
            padding 5px
           
            a
               margin-right 5px

      .graphs
         overflow hidden

         .graph-wrapper
            width 60%
            float left

         .last90
            background-color white
            border-radius 5px
            margin 5px
            height 200px
         
         .topics-wrapper
            width 40%
            float left

         .topics
            margin 5px
            background white
            border-radius 5px
            height 200px
            overflow hidden

            p 
               font-size 20px
               margin 20px
               overflow hidden
               height 160px
               line-height 26px
               
               span
                  margin-right 20px

      .tweets
         float left
         margin-bottom 5px
         width 50%
         .wrapper
            background-color white
            padding 10px
            margin 5px
            border-radius 5px
            h3 
               font-size 1.4em
               border-bottom 1px solid #888
               padding 5px
               padding-bottom 10px
               margin-bottom 5px
         li
            color #444
            margin-bottom 5px
            padding 10px
            background-color white
            border-bottom 1px solid #eee

      .explorer-wrapper
            background-color white
            padding 10px
            margin 5px
            border-radius 5px
            clear both
footer  
   border-top 1px solid black
   width 960px
   margin 0 auto
   ul 
      margin 0 auto
      li 
         margin 10px
         float left
.clear
   clear both
