extends layout

block content
   form#gather(method='get', action="/analyze")
      fieldset 
         label Twitter:
            input(type="text", placeholder="twitter handle")
         button(type="submit") Get Started