!!! 5
html(lang="en")
   head
      title Half Empty
      meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
      != css('reset')
      block scripts
   body   
      block content
         